<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88980691927-evbqmg66re05o4s0nbhvabqpugkamt6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88980691927-evbqmg66re05o4s0nbhvabqpugkamt6p</string>
	<key>API_KEY</key>
	<string>AIzaSyDTpcDxvmoVfp77I-dCWNY95VLf6WDC2mA</string>
	<key>GCM_SENDER_ID</key>
	<string>88980691927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kcars.LoginApplication</string>
	<key>PROJECT_ID</key>
	<string>fir-todo-4057b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todo-4057b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88980691927:ios:eac017413aa81da3f40992</string>
	<key>DATABASE_URL</key>
	<string>https://fir-todo-4057b.firebaseio.com</string>
</dict>
</plist>